---
layout: default
---
{% include header.html %}
<main id="main" class="content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
        <h1 class="intro-text">Hi, I'm Anthony.<br>
        I’m a Product Designer at Shopify.</h1>

        <p>I spend my days conceptualizing, prototyping, and testing in order to design and build beautiful, usable experiences. I believe great product design solves a meaningful problem while maintaining a clean and modern visual aesthetic.</p>

        <p>Let's build something great together.</p>
      </div>

    </article>
  </div>
</main>
{% include footer.html %}
